* {
    list-style-type: none;
    text-decoration: none;
    color: black;
   
}
h1, h2 {
    font-family: Merriweather;
}
h2 {
    font-size: 1.2em;
}

ol {
    margin-bottom: 2rem;
}

li :hover{
    color:blue;
}
 
#content {
    height: 10vw;
    width: 30vw;
}
 #edith2{
    margin-top: 4rem
 }
 p {
    width:40vw;
 }
 .buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    width: 150px;
 }